.page {
  overflow-x: hidden;
}

.b-block {
  background-color: #FFDDF7;
  padding-bottom: 0;
}

.body {
  display: flex;
}

.left-side {
  margin-left: 150px;
}

.hpara {
  font-size: 75px;
  margin-top: 150px;
}

.fparagraph {
  color: gray;
  margin-top: 15px;
}

.box {
  background-color: #E55473;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.right-side {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 25%;
}

.img {
  max-width: 20%;
  height: auto;
  margin-bottom: 25px;
  padding-bottom: 0;
}

.white {
  background: white;
  padding-top: 200px;
}

.feature {
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  margin-top: 90px;
}

.new {
  color: darkslategrey;
  text-align: center;
}

.attempt {
  background-color: white;
}

.photos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}

.photo-container {
  display: flex;
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: purple;
  padding: 10px;
  margin: 10px;
  width: 320px;
  height: 300px;
  border-radius: 10px;
}

.photo-1 {
  background-color: purple;
}

.photo-2 {
  background-color: pink;
}

.photo-3 {
  background-color: olive;
}

.photo img {
  height: 80%;
  width: 80%;
}

.photo-name {
  margin-top: 10px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
}

.c-block {
  background-color: #FFDDF7;
  padding-bottom: 0;
}

.hpara2 {
  font-size: 50px;
}
